<!doctype html>
<%
	var site_url = "http://"+host+"/";
%>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>modul.io</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="<%- site_url %>styles/web.css" />
</head>
<body>
	<div id="topbar">
		<ul>
			<li><a href="">Play</a></li>
			<li><a href="">Doc</a></li>
			<li><a href="">Fork</a></li>
			<li><a href="">About</a></li>
		</ul>
	</div>
	<header>
		<h1>modul.io</h1>
	</header>
	<div class="modul-create">
		<h2>Create a new modul:</h2>
		<form method="post" action="" onsubmit="this.action='<%- site_url %>'+ document.getElementById('create-owner').value + '/' + document.getElementById('create-modul').value;">
			<input placeholder="Owner name" name="" id="create-owner" /> /
			<input placeholder="Modul name" name="" id="create-modul" />
			<button type="submit">Create</button>
		</form>
	</div>
	<div class="modul-list">
		<h2>Connected moduls</h2>
		<ul>
			<% for (var i in moduls) { %>
			<li>
				<img  src="<%- site_url + moduls[i].id %>/skin" alt="Modul: pierre/default" width="50" heigth="50" class="modul-view" />
				<div class="modulinfo">
					<p>
						<span class="label">Modul Name:</span>
						<%= moduls[i].id.split('/')[1] %>
					</p>
					<p>
						<span class="label">Owner:</span>
						<%= moduls[i].id.split('/')[0] %>
					</p>
					<p>
						<span class="label">Position:</span>
						<%= moduls[i].position.x + ' x ' + moduls[i].position.y %>
					</p>
					<p>
						<span class="label">Connected since:</span>
						<%
							var since = (new Date() - moduls[i].connectedAt) / 1000;
							var seconds = Math.floor(since % 60);
							since /= 60;
							var minutes = Math.floor(since % 60);
							since /= 60;
							var hours = Math.floor(since % 24);
							since /= 24;
							var days = Math.floor(since);
							var sinceHuman = '';
							if (days) sinceHuman += days + 'd, ';
							if (hours) sinceHuman += hours + 'h, ';
							if (minutes) sinceHuman += minutes + 'm, and ';
							if (seconds) sinceHuman += seconds + 's';
						%>
						<%= sinceHuman %>
					</p>
				</div>
				<button class="join" type="button" onclick="window.location = '<%- site_url + moduls[i].id %>'">Join</button>
			</li>
			<% } %>
		</ul>
	</div>
</body>
</html>
