<!doctype html>
<%
	var site_url = "//"+host+"/";
%>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>modul.io</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="<%- site_url %>styles/mio.css" />
</head>
<body>
	<div id="logo"></div>
	<div id="world-container"><canvas id="world" width="800" height="600"></canvas></div>
	<script src="<%- site_url %>socket.io/socket.io.js"></script>
	<script src="<%- site_url %>ace/src/ace.js"></script>
	<script src="<%- site_url %>ace/src/theme-twilight.js"></script>
	<script src="<%- site_url %>ace/src/mode-javascript.js"></script>
	<script src="<%- site_url %>scripts/mio.js"></script>
	<script>
		// var MIO_DEBUG = true;
		mio.main({
			domain: '<%- domain %>',
			url: '<%- site_url %>',
			modulId: '<%- user %>/<%- modul %>',
			sessionId: '<%- sessionID %>'
		});
	</script>
</body>
</html>